$accent1: #FF6E9C;
$accent2: #F9D439;
$bannerText: #AE4559;

.collection {
    font-family: 'Work Sans', sans-serif;
    margin-top: calc(2vh + 15px);
    font-size: 11pt;

    .title {
        font-weight: 600;
        font-size: calc(12pt + 1vw);
        letter-spacing: 0.5pt;
        color: $bannerText;
        text-transform: lowercase;
    }

    .subtitle {
        font-style: italic;
    }

    .products {
        display: grid;
        width: 100%;
        grid-template-columns: 33% 33% 33%;
        margin-top: 2vh;

        .singleProduct {
            margin: 3px;
            padding: 10px;
            background-color: #f0f0f0;
            border-top: 1px solid $accent1;
            border-bottom: 1px solid $accent2;

            .img {
                width: 100%;
                text-align: center;
                margin-bottom: 10px;

                img {
                    width: 100%;
                    height: 100px;
                }
            }

            .productTitle {
                font-size: 10pt;
                font-weight: 500;
            }

            .productBrand {
                font-size: 9pt;
                font-style: italic;
                color: #585858;
            }

            .buy {
                display: grid;
                grid-template-columns: auto auto auto;
                align-items: center;
                margin-top: 10px;
                align-self: flex-end;

                .add {

                    button.addToCart {
                        padding: 6px;
                        text-transform: lowercase;
                        font-size: 8pt;
                        font-family: 'Work Sans', sans-serif;
                        letter-spacing: 1px;
                        cursor: pointer;
                        transition: 0.5s;
                        font-weight: 500;
                        border: 1px solid $accent2;
                        background-color: #fff6d1;
                        color: #585858;

                        &:hover {
                            border-color: $accent1;
                            background-color: #ffecf2;
                        }

                        i {
                            margin-right: 5px;
                        }
                    }
                }

                .price {
                    text-align: right;
                    font-size: 13pt;
                    font-weight: 600;
                    color: $bannerText;
                }
            }
            
        }
    }
}

@media only screen and (max-width: 700px) {
    .products {
        grid-template-columns: auto auto;
    }
}