$accent1: #FF6E9C;
$accent2: #F9D439;
$bannerText: #AE4559;

.header {
    height: auto;
    width: auto;
    padding-bottom: 10px;
    background-color: #f7f7f7;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000000;

    a, a:link, a:active, a:visited {
        text-decoration: none;

        &:focus {
            outline: none;
        }
    }

    .topbar {
        background-color: $accent1;
        width: 100vw;
        padding: 5px 0px 5px 0px;
        color: white;
        font-family: 'Roboto Slab', serif;
        font-size: 10pt;
        text-align: center;
        letter-spacing: 0.5pt;

        span.code {
            font-weight: 900;
        }

    }

    .mainbar {
        width: 80vw;
        display: grid;
        align-items: center;
        grid-template-columns: 70px calc(80vw - 70px);
        margin: 1vh 10vw 0px 10vw;

        .menu {
            text-align: right;
            font-family: 'Work Sans', sans-serif;
            font-size: 12pt;
            text-transform: lowercase;

            a, a:link, a:active, a:visited {
                text-decoration: none;
                color: #4b4b4b;
                margin-left: 20px;
                letter-spacing: 1px;
                transition: ease 0.5s;
                padding: 5px 10px 5px 10px;
                border-bottom: 5px solid transparent;

                &:hover {
                    border-bottom: 5px solid $accent2;
                    //color: white;
                }
            }

            .cart {
                display: inline-block;
                margin-left: 20px;
                margin-right: 20px;
                padding: 10px;
                background-color: $accent1;
                color: white;
                align-items: center;
                justify-items: center;
                cursor: pointer;
                transition: 0.5s;

                i {
                    font-size: 10pt;
                    margin-right: 5px;
                }

                a, a:link, a:active, a:visited {
                    border: none;
                    padding: 0px;
                    margin-left: 0px;
                }

                &:hover {
                    background-color: $accent2;
                    color: $bannerText;
                }
            }

        }
    }
}